
.projects-section {
    height: 100%;
}

.projects-section .section-title::before {
    top: 10px;
}

.projects-section .section-title::after {
    top: 16px;
}

.projects-section .section-title {
    margin-bottom: 34px;
}

.projects-section h3 {
    text-decoration: underline;
    text-decoration-color: orangered;
    text-decoration-thickness: 2px;
    text-underline-offset: 7px;
    margin-bottom: 30px;
}

.projects-section .projects-wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
}

.project-item {
    background-color: hsl(0, 0%, 95%);
    border-radius: 10px;
    padding: 20px;
}

.project-item img {
    width: 100%;
    height: 80%;
    border-radius: 10px;
}

.project-title {
    text-align: center;
    margin-top: 10px;
}